<a href="https://colab.research.google.com/github/brenosyperrek/ufsc_dc_exercicios/blob/main/Prepara%C3%A7%C3%A3o_de_Dados_IRIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Exercícios Preparação de Dados
Curso Introdução à Ciência de Dados - CTC/INE/UFSC

Prof. Jônata Tyska Carvalho

Prof. Mateus Grellert da Silva

*Exercícios adaptados a partir do material do prof. Vipin Kumar

### Briefing
Sua startup de análise de dados foi contratada por uma grande empresa de diagnóstico médico que quer construir um classificador para auxiliar os médicos a dignosticar câncer de mama. A ideia é construir o modelo com base em características de análises laboratoriais de amostras de células extraídas de pacientes com e sem câncer. Sua equipe foi encarregada de realizar algumas tarefas de preparação de dados no conjunto fornecido pela contratante.

#### **Carregando os dados**

In [ ]:
import pandas as pd
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data', header=None)
data.columns = ['Sample code', 'Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape',
                'Marginal Adhesion', 'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
                'Normal Nucleoli', 'Mitoses','Class']

### **Exercício 0. Verificar a quantidade de instâncias e atributos**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code                  699 non-null    int64
 1   Clump Thickness              699 non-null    int64
 2   Uniformity of Cell Size      699 non-null    int64
 3   Uniformity of Cell Shape     699 non-null    int64
 4   Marginal Adhesion            699 non-null    int64
 5   Single Epithelial Cell Size  699 non-null    int64
 6   Bare Nuclei                  699 non-null    object
 7   Bland Chromatin              699 non-null    int64
 8   Normal Nucleoli              699 non-null    int64
 9   Mitoses                      699 non-null    int64
 10  Class                        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

### **Exercício 1. Descartar a coluna 'Sample Code'**

In [ ]:
data.drop(columns = 'Sample code', inplace = True)

### **Exercício 2. Verificar valores faltantes por atributo**

In [ ]:
data.describe()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bland Chromatin,Normal Nucleoli,Mitoses,Class
count,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [ ]:
data['Bare Nuclei'].unique()

array(['1', '10', '2', '4', '3', '9', '7', '?', '5', '8', '6'],
      dtype=object)

### **Exercício 3. Imputar os valores faltantes com a mediana do atributo**

In [ ]:
data["Bare Nuclei"] = np.where(data["Bare Nuclei"] == "?", "0", data['Bare Nuclei'])
data['Bare Nuclei'] = pd.to_numeric(data['Bare Nuclei'])
data['Bare Nuclei'] = data['Bare Nuclei'].fillna(np.median(data['Bare Nuclei']))
data.head()

NameError: ignored

### **Exercício 4. Recarregue os dados originais (com valores faltantes) e ao invés de imputar valores, descarte as instâncias com valores faltantes**

In [ ]:
data2 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data', header=None)
data2.columns = ['Sample code', 'Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape',
                'Marginal Adhesion', 'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
                'Normal Nucleoli', 'Mitoses','Class']
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code                  699 non-null    int64
 1   Clump Thickness              699 non-null    int64
 2   Uniformity of Cell Size      699 non-null    int64
 3   Uniformity of Cell Shape     699 non-null    int64
 4   Marginal Adhesion            699 non-null    int64
 5   Single Epithelial Cell Size  699 non-null    int64
 6   Bare Nuclei                  699 non-null    object
 7   Bland Chromatin              699 non-null    int64
 8   Normal Nucleoli              699 non-null    int64
 9   Mitoses                      699 non-null    int64
 10  Class                        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [ ]:
data2.drop(columns = 'Sample code', inplace = True)
clean_data = data2[data2['Bare Nuclei'] != '?']
clean_data.loc[:,'Bare Nuclei'] = pd.to_numeric(clean_data.loc[:,'Bare Nuclei'])
clean_data['Bare Nuclei'].unique()

KeyError: ignored

### **Exercício 5. Identificar os atributos do conjunto de dados que possuem outliers**

In [ ]:
import matplotlib.pyplot as plt
for column in clean_data:
    plt.figure()
    clean_data.boxplot([column])

### **Exercício 6. Remover do conjunto de dados instâncias que possuam outliers em algum de seus atributos (dica: usar o z-score para defininir o que são outliers z > 3 ou z < -3)**

In [ ]:
out_data = clean_data.apply(lambda x: ((x-np.mean(x))/np.std(x)))
out_data.describe().loc[['max','min'],:]

In [ ]:
out_data[~(out_data['Single Epithelial Cell Size'] > 3) | (out_data['Mitoses'] > 3)]

### **Exercício 7. Verificar a quantidade de registros duplicados no dataset**

In [ ]:
clean_data.duplicated().sum()

### **Exercício 8. Descartar as instâncias duplicadas do conjunto de dados**

In [ ]:
undup_data = clean_data.drop_duplicates()
undup_data.duplicated().sum()

### **Exercício 9. Discretizar os valores do atributo 'Clump Thickness' em 4 intervalos de igual tamanho**

In [ ]:
undup_data.loc[:,'Clump Thickness Categorical'] = pd.cut(undup_data['Clump Thickness'], [1,2.25,4.45,6.75,9], labels=[1,2,3,4], include_lowest=True)
undup_data.head()

### **Exercício 10. Discretizar os valores do atributo 'Clump Thickness' em 4 intervalos de igual frequência**

In [ ]:
pd.qcut(undup_data['Clump Thickness'], q=4).value_counts()